$max-md:900px;
:root
{
    --radius:15px;
    
    --background-body: #FFE8F7;
    --background-content:#E8C5B2;
    --background-box: #7FD1AE;
    --background-hover: #3b3b3b49;
    --font-color: rgb(255, 0, 0);
    --button-color: #FF7E55;
    --button-hover:#FF7E55;

    --background-body-light: #FFE8F7;
    --background-content-light:#E8C5B2;
    --background-box-light: #ACA9BB;
    --background-hover-light: #3b3b3b49;
    --font-color-light: black;
    --button-color-light: #D64300;
    --button-hover-light:#FF6600;

    --background-body-dark: #5E5E5E;
    --background-content-dark:#303030;
    --background-box-dark: #474747;
    --background-hover-dark: rgba(158, 158, 158, 0.31);
    --font-color-dark: white;
    --button-color-dark: #FF6600;
    --button-hover-dark: #FF7E55;
}
@media (prefers-color-scheme: light)
{
    body,button
    {
        --background-body: var(--background-body-light);
        --background-content: var(--background-content-light);
        --background-box: var(--background-box-light);
        --background-hover: var(--background-hover-light);
        --button-color: var(--button-color-light);
        --button-hover:var(--button-hover-light);
    }
    p,h1,h2,h3,h4
    {
        --font-color: var(--font-color-light);
    }
}
@media (prefers-color-scheme: dark)
{
    body
    {
        --background-body: var(--background-body-dark);
        --background-content: var(--background-content-dark);
        --background-box: var(--background-box-dark);
        --background-hover: var(--background-hover-dark);
        --button-color: var(--button-color-dark);
        --button-hover:var(--button-hover-dark);
    }
    p,h1,h2,h3,h4
    {
        --font-color: var(--font-color-dark);
    }
}
@mixin buy-button() {
    height: auto;
    width: auto;
    h2
    {
        color: var(--font-color);
    }

    &:hover
    {
        background-color: var(--button-hover);
    }    
    border-radius: 40px;
    background-color: var(--button-color);
    
}
body
{
    margin:0;
    background-color: var(--background-body);
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "left-panel header"
                         "left-panel info";
                         gap: 20px;
}

.left-panel
{
    z-index: 3;
    height: 100%;
    width: 130px;
    position: fixed;
    background-color: var(--background-content);

    grid-area: left-panel;

    h1:first-child
    {
        margin-top: 3rem; 
    }
    h1
    {
        &:hover
        {
            background-color: var(--background-hover);
        }    
        margin: 0;
        font-size: 25px;
        padding-block: 30px 31px;
        padding-inline: 1rem 1rem;
    }
}
.header
{
    position: fixed;
    margin-left: 12rem;
    h1,p{color: white;}
    h1
    {
        width: 0px;
        margin: 4rem 4rem;
        position: absolute;
        z-index: 1;
        font-size: 70px;
    }
    p
    {
        width: auto;
        margin-inline: 5rem 4rem;
        margin-block: 19rem 0rem;
        position: absolute;
        z-index: 1;
        font-size: 10px;
    }
    img
    {
        border-radius: var(--radius);
        margin-top: 1rem;
        height: 740px;
        width: 1120px;
    }
    button
    {
        position: absolute;
        margin-block: 40rem 0rem;
        margin-inline: 28rem 0rem;
        @include buy-button();
    }

    grid-area: header;
}
.back
{
    margin-left: 12rem;
    margin-top: 50rem;
    position: absolute;

    z-index: 2;
    width: 1200px;
    height: auto;

    background-color: var(--background-body);
    h1:first-child
    {
        margin-inline: 3rem 0rem;
        margin-top: 3rem;
    }
    p
    {
        font-size: 23px;
    }

    
    grid-area: info;
    button
    {
        margin-block: 0rem 3rem;
        margin-inline: 30rem 0rem;
        @include buy-button();
    }
}
.info
{
    margin-top: -3rem;
    display: flex;
    flex-direction: column;
}
.block-info
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 3rem 3rem;

    h2
    {
        margin: 0;
    }
    h2,p
    {
        margin-right: 2rem;
    }
    img
    {
        border-radius: var(--radius);
        height: 340px;
        width: 520px;
    }
}
.actors
{
    margin-inline: 3rem 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.act
{
    margin-inline: 3rem 3rem;
}
.block-actor
{
    background-color: var(--background-content);
    border-radius: var(--radius);
    display: grid;
    grid-template-rows: 2fr 1fr;
    height: 480px;
    width: 354px;

    margin: 0;
    img
    {
        height: 350px;
        width: 100%;
        border-radius: var(--radius);
    }
    h2,p
    {
        margin-block: 1rem 0rem;
        margin-inline: 1rem 0rem;
    }
}

p,h1,h2,h3,h4
{
    color:var(--font-color);
}